<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="mySTDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} 【%thread】 %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="myFILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/mytest2.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} 【%thread】 %-5level %logger{35} -  %msg %n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="mySTDOUT"></appender-ref>
        <appender-ref ref="myFILE"></appender-ref>
    </root>
</configuration>