<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dog" class="com.ziy.impl.Dog" destroy-method="close">
        <property name="cat" ref="cat"></property>
    </bean>
    <bean id="cat" class="com.ziy.impl.Cat" scope="prototype">

    </bean>

    <bean id="testOne" class="com.ziy.impl.TestOne">
        <lookup-method name="createCat" bean="cat"></lookup-method>
    </bean>

</beans>